/* ****************************************** */
/* ABOUT SECTION */
/* ****************************************** */

.section-about {
  padding: 9.6rem 0;
}

.contact-icon {
  font-size: 1.6rem;
  color: #1f8c81;
  align-items: center;
  padding-right: 1.2rem;
}

.list {
  list-style: none;
}

.list-item {
  font-size: 1.8rem;
  line-height: 1.2;
  align-items: center;
}

.list-item a {
  text-decoration: none;
  color: #6f6f6f;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contact p {
  font-size: 1.6rem;
}

.skill-title {
  letter-spacing: 1px;
  margin-top: 2.4rem;
  margin-bottom: 1.2rem;
  color: #1f8c81;
  font-weight: 500;
  font-size: 1.6rem;
}

.progress-bar {
  background: #eee;
  width: 600px;
  height: 10px;
  border-radius: 5px;
}

.progress-bar div {
  height: 10px;
  border-radius: 5px;
  width: 0%;
  /* background: #4ca39a; */
}

.progress-bar div span {
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50%;
  background: #fff;
  float: right;
  margin-top: -1.2rem;
  margin-right: -1.2rem;
  color: #333;
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.html {
  background: #1f8c81;
  animation: html 1s linear forwards;
}
.css {
  background: #f28627;
  animation: css 1s linear forwards;
}
.javascript {
  background: #bf3030;
  animation: javascript 1s linear forwards;
}
.photoshop {
  background: #a3bf3b;
  animation: photoshop 1s linear forwards;
}
.illustrator {
  background: #f28627;
  animation: illustrator 1s linear forwards;
}
.corel-draw {
  background: #1f8c81;
  animation: corel-draw 1s linear forwards;
}
.powerpoint {
  background: #bf3030;
  animation: powerpoint 1s linear forwards;
}

.html span {
  border: 1px solid #1f8c81;
}
.css span {
  border: 1px solid #f28627;
}
.javascript span {
  border: 1px solid #bf3030;
}
.photoshop span {
  border: 1px solid #a3bf3b;
}
.illustrator span {
  border: 1px solid #f28627;
}
.corel-draw span {
  border: 1px solid #1f8c81;
}
.powerpoint span {
  border: 1px solid #bf3030;
}

@keyframes html {
  100% {
    width: 80%;
  }
}
@keyframes css {
  100% {
    width: 76%;
  }
}
@keyframes javascript {
  100% {
    width: 50%;
  }
}
@keyframes photoshop {
  100% {
    width: 60%;
  }
}
@keyframes illustrator {
  100% {
    width: 80%;
  }
}
@keyframes corel-draw {
  100% {
    width: 85%;
  }
}
@keyframes powerpoint {
  100% {
    width: 70%;
  }
}

/* .about-skills .skill-item .skill-header {
  position: relative;
}

.about-skills .skill-item .skill-header .skill-title {
  font-size: 1.6rem;
  font-weight: 400;
}

.about-skills .skill-item .skill-header .skill-percentage {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.6rem;
  font-weight: 400;
  color: #6f6f6f;
  font-weight: 400;
  display: flex;
}

.about-skills .skill-item .skill-header .skill-percentage .count-box {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.about-skills .skill-item .skill-bar {
  margin-top: 3.2rem;
}

.about-skills .about-skills .skill-item .skil-bar .bar-inner {
  width: 100%;
  height: 0.5rem;
  border-radius: 5px;
  background-color: #6f6f6f;
  position: relative;
}

.about-skills .skill-item .skill-bar .bar-inner .progress-line {
  position: absolute;
  top: 0;
  left: 0;
  height: 0.5rem;
  background-color: #4ca39a;
  transition: all 2s ease-out 0s;
  width: 0;
} */
