/* ****************************************** */
/* HERO SECTION */
/* ****************************************** */

.section-hero {
  background-color: #fafafa;
  padding: 4.8rem 0 9.6rem 0;
}

/* PARALLAX SHAPES */
.hero-contents {
  position: relative;
  overflow: hidden;
  background-color: #fafafa;
}

.hero-contents .hero-shape {
  position: absolute !important;
  transform-style: preserve-3d;
}
.hero-contents .hero-shape.shape-one {
  top: 9% !important;
  left: 0 !important;
}

.hero-contents .hero-shape.shape-two {
  top: 18px !important;
  left: 20% !important;
}

.hero-contents .hero-shape.shape-three {
  top: 50px !important;
  left: 40% !important;
}

.hero-contents .hero-shape.shape-four {
  top: 28px !important;
  right: 7.6% !important;
  left: auto !important;
}

.hero-contents .hero-shape.shape-five {
  right: 30px !important;
  bottom: 35% !important;
  left: auto !important;
  top: auto !important;
}

.hero-contents .hero-shape.shape-six {
  top: 40% !important;
  left: 30% !important;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.hero-contents .hero-shape.shape-seven {
  left: 30px !important;
  bottom: 50px !important;
  top: auto !important;
}

.hero-contents .hero-shape.shape-eight {
  left: 290px !important;
  bottom: 140px !important;
  top: auto !important;
}

.hero-contents .hero-shape.shape-nine {
  left: 50% !important;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 28px !important;
  top: auto !important;
}

.hero-contents .hero-shape.shape-ten {
  right: 30px !important;
  bottom: 5px !important;
  left: auto !important;
  top: auto !important;
}

/* HERO CONTENT */

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 9.6rem;
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  align-items: center;
  position: relative;
}

.subheading.greeting {
  font-size: 2.4rem;
  font-weight: 500;
}

.heading-primary.name {
  margin-bottom: 1.2rem;
  font-weight: 700;
}

.title {
  font-size: 2.4rem;
  color: #16625a;
  font-weight: 500;
  margin-bottom: 9.6rem;
}

.social-contacts {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  margin-top: 9.6rem;
}

.social-contact-icon,
.social-contact-icon:link,
.social-contact-icon:visited {
  display: flex;
  align-items: center;
  text-decoration: none;
  text-align: center;
  padding-right: 0.8rem;
  color: #0c3834;
  font-size: 2.4rem;
  padding: 0.8rem;
  border: solid 1px #0c3834;
  border-radius: 50%;
  transition: all 0.3s;
}

.social-contact-icon:hover,
.social-contact-icon:active {
  color: #fff;
  border: solid 1px #fff;
  background: #4ca39a;
}

.hero-img-box img {
  width: 100%;
  align-self: center;
}
