/* ****************************************** */
/* HIRE SECTION */
/* ****************************************** */

/* Section spacing */
.section-hire {
  padding: 9.6rem 0;
}

.hire-heading {
  background: url(../img/hire-bg.webp) #a5d1cd;
  background-size: cover;
  background-blend-mode: multiply;
  padding: 6.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hire.heading-secondary {
  color: #fff;
  text-transform: none;
  margin-bottom: 3.2rem;
}

.hire.write-up {
  color: #fff;
}
